@model joloochusite.Model.AppUser

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Patronimyc)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Patronimyc)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Token)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Token)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MaxCount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentCount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentCount)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
